[submodule "botmaker-sdk"]
	path = botmaker-sdk
	url = git@github.com:LiQiyeDev/botmaker-sdk.git
[submodule "botmaker-studio"]
	path = botmaker-studio
	url = git@github.com:LiQiyeDev/botmaker-studio.git
[submodule "botmaker-gallery"]
	path = botmaker-gallery
	url = git@github.com:LiQiyeDev/botmaker-gallery.git
[submodule "botmaker-shared"]
	path = botmaker-shared
	url = git@github.com:LiQiyeDev/botmaker-shared.git
[submodule "botmaker-pilot"]
	path = botmaker-pilot
	url = git@github.com:LiQiyeDev/botmaker-pilot.git
